extends layout

block content
  script(type='text/javascript', src='/javascripts/connected_nodes.js')  
  script(type='text/javascript') 
    get_focus_node("#{focus_node_id}"); 
      
  div.focus_node
    Focus Node: 



  
  div.connected_nodes
  