extends layout

block content
  h1= title
  p Create a Node


  form(method='post')
    p 
      | Label
      input(name='label') Label
    p 
      | Type
      input(name='type')  
    p 
      | Weight
      input(name='weight')
    p 
      | Target Node ID
      input(name='target_node_id')
    p 
      | Source Node ID
      input(name='source_node_id')
    p 
      | Target Label
      input(name='target_label')
    p 
      | Source Label
      input(name='source_label')
    p 
      input(type='submit')
    
