extends layout

block content
  h1= title
  p Leading Inovation

  p
    | Links to test the site.
  ul
    li 
      a(href="/create_node") Create a Node
    li
      a(href="/nodes") See some Nodes
      


  label.test
    p #{var2}
    input(name='user[name]')
