extends layout



block content
  script(type='text/javascript', src='/javascripts/search.js')   
  h1= title
  p Leading Inovation

  p
    | Links to test the site.
  ul
    li 
      a(href="/create_node") Create a Node
    li
      a(href="/nodes") See some Nodes
      

  div.search
    Search Nodes: 
    input(name='search', id='search_input')
    button(id='search_button') A button element

  
  div.graph
